.profilePage {
  padding: 30px;
  flex-grow: 1;
}

.topSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 200px;
  margin-bottom: 20px;
}

.profileHeader {
  display: flex;
  gap: 20px;
  background: var(--color-bg-widget);
  padding: 20px;
  border-radius: 8px;
  flex-grow: 1;
  min-width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profileHeader h2 {
  margin-top: 0;
}

.avatarStub {
  width: 150px;
  height: 150px;
  background: var(--color-bg-section);
  border-radius: 4px;
}

.friendRating {
  width: 300px;
  flex-shrink: 0;
  background: var(--color-bg-widget);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.roadmap,
.library {
  background: var(--color-bg-page);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.gameGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin: 20px 0;
}

.stubCard {
  background: var(--color-bg-section);
  height: 100px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-secondary);
  font-style: italic;
}

.moreButton {
  display: block;
  margin: 20px auto 0 auto;
  padding: 10px 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: var(--color-bg-widget);
}

.stubList {
  font-style: italic;
  color: var(--color-text-secondary);
}
