.homePage {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.mainSection {
  background-color: var(--color-bg-widget);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
}

.mainTitle {
  font-size: 2.5rem;
  color: var(--color-text);
  margin-top: 0;
  flex-grow: 1;
}

.widgetsSection {
  background-color: var(--color-bg-accent);
  flex-grow: 1;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px 20px;
  gap: 20px;
}

.loginButton {
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

.widget {
  background-color: var(--color-bg-widget);
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.widget h2 {
  margin-top: 0;
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 10px;
  color: var(--color-text);
}

.stubList {
  padding-top: 10px;
  font-style: italic;
  color: var(--color-text-secondary);
}
