.searchForm {
  display: flex;
  gap: 10px;
}

.header .searchBar {
  background-color: #f0f0f0;
  border: 1px solid #bbb;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 0.9rem;
  width: 200px;
}

.hero .searchBar {
  background-color: #f0f0f0;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 15px 20px;
  font-size: 1.2rem;
  width: 300px;
}
.hero .searchButton {
  background-color: #e0e0e0;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 15px 20px;
  font-weight: bold;
  font-size: 1.2rem;
}

.hiddenSubmit {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  opacity: 0;
  border: none;
  padding: 0;
}
