.roadmapPage {
  background-color: var(--color-bg-page-section);
  padding: 20px;
}

.topSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.roadmapHeader {
  flex-grow: 1;
  min-width: 400px;
}

.roadmapHeader h2 {
  margin-top: 0;
  color: var(--color-text);
}

.roadmapInfo {
  display: flex;
  gap: 20px;
  background-color: var(--color-bg-widget);
  padding: 10px 15px;
  border-radius: 4px;
  width: fit-content;
}

.recommendedGame {
  margin-top: 15px;
}
.recommendedGame p {
  margin-bottom: 5px;
  font-weight: 500;
}

.gameCardStub {
  background-color: var(--color-bg-widget);
  border-radius: 4px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  color: var(--color-text-secondary);
  border: 1px solid var(--color-border);
}

.gameListWidget {
  width: 300px;
  flex-shrink: 0;
  background: var(--color-bg-widget);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

.gameListWidget h3 {
  margin-top: 0;
}

.stubList {
  font-style: italic;
  color: var(--color-text-secondary);
  background-color: var(--color-bg-stub);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.moreButton {
  display: block;
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  background: var(--color-bg-stub);
}

.kanbanContainer {
  background-color: var(--color-bg-widget);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.kanbanContainer h3 {
  margin-top: 0;
}

.kanbanBoardWrapper {
  overflow-x: auto;
  padding-bottom: 10px;
}

.kanbanBoard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  min-width: 1000px;
}

.kanbanColumn {
  background-color: var(--color-bg-stub);
  border-radius: 8px;
  padding: 15px;

  height: 600px;
  overflow-y: auto;
}

.kanbanColumn h4 {
  margin-top: 0;
  text-align: center;
}

.kanbanCard {
  background-color: var(--color-bg-widget);
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.cardIcon {
  width: 50px;
  height: 50px;
  background-color: var(--color-bg-section);
  border-radius: 4px;
  flex-shrink: 0;
}

.cardInfo {
  display: flex;
  flex-direction: column;
}
.cardInfo strong {
  color: var(--color-text);
}
.cardInfo small {
  color: var(--color-text-secondary);
}

.actionsFooter {
  padding-top: 20px;
  border-top: 1px solid var(--color-border);
  display: flex;
  gap: 10px;
}

.actionButton {
  padding: 10px 20px;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  background-color: var(--color-bg-widget);
  font-size: 1rem;
}

.deleteButton {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
}
