:root {
  --color-bg-page: #f4f4f4;
  --color-bg-page-section: #d6d6d6;
  --color-bg-widget: #f0f0f0;
  --color-bg-section: #cacaca;
  --color-bg-accent: #b0b0d0;
  --color-accent: #ccccdd;
  --color-text: #333;
  --color-text-secondary: #777;
  --color-border: #bbb;
  --color-border-accent: #555;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  background-color: var(--color-bg-page);
  color: var(--color-text);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  padding-top: 60px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
